* {
    margin: 0;
    padding: 0;
}

body {
    padding: 50px;
    font-family: roboto, sans-serif;
    color: #303030;
    background-color: #f0f0f0;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
    border-bottom: 2px solid #444444;
    margin-top: 15px;
    margin-bottom: 15px;
}

p {
    font-size: 15px;
}

/* entry */
.entry {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.description {
    width: 85%;
}

.date {
    width: 30%;
    text-align: right;
    font-weight: bold;
}

ul, .education_description {
    padding-left: 15px;
}